@import url('https://fonts.googleapis.com/css2?family=New+Rocker&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

/* Comment */
h1, h2, h3, h4, h5, h6 {
    font-family: "New Rocker";
}
h1 {
    font-size:40pt;
}

body {
    font-family: "Noto Serif";
    background-color: #F5A301;
    color:#323c4b;
}

header {
    text-align:center;
}
#hero, footer {
    text-align:center;
    background-color: #75623b;
    color:#FFFFFF;
    padding:10px;
    border:10px solid #3560a0;
    border-radius:20px;
}
#hero img {
    width:300px;
    max-width:100%;
}

#gallery {
    border:10px solid #3560a0;
    border-radius:20px;
    margin-bottom:10px;
}
#gallery img {
    max-width:100%;
}
#gallery figure {
    text-align:center;
}
#gallery hr {
    border:none;
    border-top:10px solid #3560a0;
}
#gallery h2 {
    padding:10px;
}

/* Hobbies */
#hobbies {
    text-align:center;
    display:flex;
    flex-direction:column;
    align-items:center;
}


@media (min-width: 960px) {

    #gallery figure {
        display:grid;
        grid-template-columns: 2fr 1fr;
    }
    #gallery figcaption {
        display:flex;
        justify-content: center;
        align-items: center;
        font-size: 125%;
        margin-left: 1rem;
    }

}
